* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--Red: hsl(0, 78%, 62%);
	--Cyan: hsl(180, 62%, 55%);
	--Orange: hsl(34, 97%, 64%);
	--Blue: hsl(212, 86%, 64%);
	--Very-Dark-Blue: hsl(234, 12%, 34%);
	--Grayish-Blue: hsl(229, 6%, 66%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
	font-size: 15px;
	background-color: var(--Very-Light-Gray);
}

.main {
	width: 80%;
	margin: 10% auto;
	text-align: center;

	@media screen and (min-width: 1440px) {
		margin: 2% auto;
	}
}

.sub {
	font-weight: 200;
	color: var(--Very-Dark-Blue);
	font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.heading {
	color: var(--Very-Dark-Blue);
	font-size: clamp(1.2rem, 5vw, 1.8rem);

	// font-size: clamp(1.5rem, 5vw, 2.3rem);
}

.desc {
	color: var(--Grayish-Blue);
	margin: 30px 0;
	// font-size: clamp(1rem, 5vw, 1.3rem);

	@media screen and (min-width: 1440px) {
		width: 45%;
		margin: auto;
		margin-top: 30px;
	}
}

.card-section {
	display: grid;
	row-gap: 20px;
	margin-top: 50px;

	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}

	@media screen and (min-width: 1440px) {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);

		grid-template-areas:
			". team ."
			"supervisor team calculator" "supervisor karma calculator" ". karma .";
	}
}

.card {
	text-align: left;
	background-color: #fff;
	box-shadow: 4px 12px 16px -4px rgba(84, 158, 242, 0.3);
	padding: 15px;
	border-radius: 7px;

	h4 {
		color: var(--Very-Dark-Blue);
		font-size: 1.2rem;
	}
	p {
		color: var(--Grayish-Blue);
		// font-size: 15px;
		width: 95%;
	}
	img {
		float: right;
		margin: 25px;
		margin-top: 50px;
	}
}
.supervisor {
	border-top: 4px solid var(--Cyan);
	@media screen and (min-width: 1440px) {
		grid-area: supervisor;
	}
}
.team-builder {
	border-top: 4px solid var(--Red);
	@media screen and (min-width: 1440px) {
		grid-area: team;
	}
}
.karma {
	border-top: 4px solid var(--Orange);
	@media screen and (min-width: 1440px) {
		grid-area: karma;
	}
}
.calculator {
	border-top: 4px solid var(--Blue);
	@media screen and (min-width: 1440px) {
		grid-area: calculator;
	}
}
